.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box .col-md-6:nth-child(2) {
  border-left: 2px solid #fff;
}

.login-content {
  margin: 20px auto 0;
  padding: 0 20px;
}
.workForm {
  margin-top: 20%;
}

.form-group > label {
  font-size: 14px;
  color: #fff;
}

.form-group > .btn-login {
  background-color: #176859;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 20px;
  transition: all 0.2ms;
}

.form-group > .btn-login:hover {
  background-color: #358173;
}

.intro-login {
  margin: auto 20%;
  padding: 33px 0;
  text-align: center;
}
.intro-login > p {
  font-size: 16px;
  color: #fff;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

.disabed {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 775px) {
  .intro-login {
    padding: 40px 0 0;
  }
  .box .col-md-6:nth-child(2) {
    border: none;
  }
}
