.link-icon {
  text-decoration: none;
  outline: none;
}

.link-icon .icon {
  color: #ffffff;
  font-size: 20px;
}

.link-icon .user.icon {
  font-size: 50px;
}

.container-fluid > .row {
  background-color: teal;
  padding: 15px 0;
}

.container {
  width: 100vw;
  height: 80vh;
}
.container .col-sm-4 {
  margin: 20px 0;
}
